* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

window#waybar {
    background: transparent;
}

window > box {
    margin: 8px 8px 0px 8px;
    background: #c8cbd8;
    color: #343b58;
    border-radius: 8px;
}

#workspaces {
    padding: 4px;
}

#workspaces button {
    color: #343b58;
    padding: 0px 6px;
    margin: 0 2px;
    border: none;
    border-radius: 8px;
    transition: none;
}

#workspaces button.empty {
    color: #6c6e75;
}

#workspaces button:hover {
    background: #343b58;
    color: #e6e7ed;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background: #2959aa;
    color: #e6e7ed;
    font-weight: bold;
}

#workspaces button.focused:hover {
    background: #343b58;
    box-shadow: inherit;
    text-shadow: inherit;
}

#clock {
    font-weight: bold;
}

#language,
#battery,
#wireplumber {
    color: #343b58;
}

#language {
    font-weight: bold;
    padding: 0 4px;
}

#battery,
#wireplumber {
    font-size: 17px;
}

#battery.charging,
#battery.plugged {
    color: #385f0d;
}

#battery.warning {
    color: #965027;
}

#battery.critical {
    color: #8c4351;
}

#wireplumber {
    margin-right: 8px;
}

tooltip {
    background: #e6e7ed;
    border: 2px solid #006c86;
    border-radius: 8px;
}

tooltip label {
    color: #343b58;
}
