window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="blueman-manager"
    match app-id="nm-connection-editor"
    match app-id="password-picker"
    match app-id="pavucontrol"
    open-floating true

    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
}
