(
    selected_tab: Gray,
    command_fg: Gray,
    selection_bg: Rgb(39, 44, 66),
    selection_fg: Reset,
    cmdbar_bg: Rgb(39, 44, 66),
    cmdbar_extra_lines_bg: Rgb(39, 44, 66),
    disabled_fg: DarkGray,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,
    commit_hash: Magenta,
    commit_time: Cyan,
    commit_author: Green,
    danger_fg: LightRed,
    push_gauge_bg: Blue,
    push_gauge_fg: Black,
    tag_fg: LightYellow,
    branch_fg: LightMagenta
)
