window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="nm-connection-editor"
    match app-id="blueman-manager"
    match app-id="foot-floating"
    open-floating true

    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }

    focus-ring {
        active-color "#7dcfff"
    }
}
